In [1]:
import pandas as pd
import numpy as np
from collections import defaultdict

In [2]:
FILE='train'

In [3]:
df = pd.read_csv(f'./input/{FILE}.csv')

In [4]:
df.ord_2

0         Boiling Hot
1                Cold
2                Warm
3                 Hot
4            Lava Hot
             ...
399995           Warm
399996            NaN
399997    Boiling Hot
399998       Lava Hot
399999       Freezing
Name: ord_2, Length: 400000, dtype: object

In [5]:
af = pd.read_csv('./input/animals.csv', sep='\t')
af = af.set_index('animal')
af_columns = af.columns
af = af.to_dict('index')

In [6]:
af = defaultdict(str, af)
af[np.nan] = {'water': 'n', 'home': 'n', 'fure': 'n', 'mass': 7.0}
af

defaultdict(str,
            {'Axolotl': {'water': 'y', 'home': 'n', 'fure': 'n', 'mass': 1.0},
             'Cat': {'water': 'n', 'home': 'y', 'fure': 'y', 'mass': 20.0},
             'Dog': {'water': 'n', 'home': 'y', 'fure': 'y', 'mass': 40.0},
             'Hamster': {'water': 'n', 'home': 'y', 'fure': 'y', 'mass': 0.1},
             'Lion': {'water': 'n', 'home': 'n', 'fure': 'y', 'mass': 200.0},
             'Snake': {'water': 'n', 'home': 'n', 'fure': 'n', 'mass': 7.0},
             nan: {'water': 'n', 'home': 'n', 'fure': 'n', 'mass': 7.0}})

In [7]:
af_columns

Index(['water', 'home', 'fure', 'mass'], dtype='object')

In [8]:
df[['animal_' + afc for afc in af_columns]]=df.apply(lambda x: pd.Series(af[x['nom_2']]), axis=1)[af_columns]

In [9]:
df.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,ord_2,ord_3,ord_4,ord_5,day,month,animal_water,animal_home,animal_fure,animal_mass
0,600000,0.0,0.0,0.0,F,Y,Blue,Polygon,Axolotl,Finland,...,Boiling Hot,f,U,oU,3.0,9.0,y,n,n,1.0
1,600001,0.0,0.0,0.0,F,Y,Red,Circle,Lion,Russia,...,Cold,n,N,NaN,2.0,8.0,n,n,y,200.0
2,600002,0.0,0.0,0.0,F,Y,Blue,Circle,Axolotl,Russia,...,Warm,i,N,DN,2.0,6.0,y,n,n,1.0
3,600003,1.0,0.0,0.0,F,N,Red,Polygon,Axolotl,Costa Rica,...,Hot,m,B,AG,1.0,6.0,y,n,n,1.0
4,600004,0.0,0.0,1.0,F,Y,Red,Circle,NaN,Finland,...,Lava Hot,o,J,DT,3.0,3.0,n,n,n,7.0

In [10]:
cf = pd.read_csv('input/countries.csv', sep='\t')
country_missing = cf.mean().to_dict()
cf = cf.set_index('country')
cf_columns = cf.columns
cf = cf.to_dict('index')
cf

{'Russia': {'population': 146171015,
  'gdp': 4328000000000,
  'gdp per capita': 29485,
  'timzone': 10.0,
  'water': 0.13,
  'w': 37.37,
  'n': 55.45},
 'Canada': {'population': 38048738,
  'gdp': 1979000000000,
  'gdp per capita': 51713,
  'timzone': 5.5,
  'water': 11.76,
  'w': 75.4,
  'n': 45.24},
 'Finland': {'population': 5536146,
  'gdp': 257000000000,
  'gdp per capita': 49334,
  'timzone': 2.0,
  'water': 9.71,
  'w': 24.56,
  'n': 60.1},
 'Costa Rica': {'population': 5094118,
  'gdp': 95791000000,
  'gdp per capita': 18651,
  'timzone': 1.0,
  'water': 1.05,
  'w': 84.5,
  'n': 9.56},
 'China': {'population': 1412000000000,
  'gdp': 26660000000000,
  'gdp per capita': 18931,
  'timzone': 1.0,
  'water': 2.8,
  'w': 116.23,
  'n': 39.55},
 'India': {'population': 1352642280,
  'gdp': 10207000000000,
  'gdp per capita': 7333,
  'timzone': 1.0,
  'water': 9.6,
  'w': 77.12,
  'n': 28.36}}

In [11]:
cf_columns

Index(['population', 'gdp', 'gdp per capita', 'timzone', 'water', 'w', 'n'], dtype='object')

In [12]:
country_missing

{'population': 235591248716.16666,
 'gdp': 7254465166666.667,
 'gdp per capita': 29241.166666666668,
 'timzone': 3.4166666666666665,
 'water': 5.841666666666668,
 'w': 69.19666666666667,
 'n': 39.71}

In [13]:
cf = defaultdict(str, cf)
cf[np.nan] = country_missing
cf

defaultdict(str,
            {'Russia': {'population': 146171015,
              'gdp': 4328000000000,
              'gdp per capita': 29485,
              'timzone': 10.0,
              'water': 0.13,
              'w': 37.37,
              'n': 55.45},
             'Canada': {'population': 38048738,
              'gdp': 1979000000000,
              'gdp per capita': 51713,
              'timzone': 5.5,
              'water': 11.76,
              'w': 75.4,
              'n': 45.24},
             'Finland': {'population': 5536146,
              'gdp': 257000000000,
              'gdp per capita': 49334,
              'timzone': 2.0,
              'water': 9.71,
              'w': 24.56,
              'n': 60.1},
             'Costa Rica': {'population': 5094118,
              'gdp': 95791000000,
              'gdp per capita': 18651,
              'timzone': 1.0,
              'water': 1.05,
              'w': 84.5,
              'n': 9.56},
             'China': {'population': 1412000000000,
              'gdp': 26660000000000,
              'gdp per capita': 18931,
              'timzone': 1.0,
              'water': 2.8,
              'w': 116.23,
              'n': 39.55},
             'India': {'population': 1352642280,
              'gdp': 10207000000000,
              'gdp per capita': 7333,
              'timzone': 1.0,
              'water': 9.6,
              'w': 77.12,
              'n': 28.36},
             nan: {'population': 235591248716.16666,
              'gdp': 7254465166666.667,
              'gdp per capita': 29241.166666666668,
              'timzone': 3.4166666666666665,
              'water': 5.841666666666668,
              'w': 69.19666666666667,
              'n': 39.71}})

In [14]:
df[['country_'+cfc for cfc in cf_columns]]=df.apply(lambda x: pd.Series(cf[x['nom_3']]), axis=1)[cf_columns]

In [15]:
df

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,animal_home,animal_fure,animal_mass,country_population,country_gdp,country_gdp per capita,country_timzone,country_water,country_w,country_n
0,600000,0.0,0.0,0.0,F,Y,Blue,Polygon,Axolotl,Finland,...,n,n,1.0,5.536146e+06,2.570000e+11,49334.000000,2.000000,9.710000,24.560000,60.10
1,600001,0.0,0.0,0.0,F,Y,Red,Circle,Lion,Russia,...,n,y,200.0,1.461710e+08,4.328000e+12,29485.000000,10.000000,0.130000,37.370000,55.45
2,600002,0.0,0.0,0.0,F,Y,Blue,Circle,Axolotl,Russia,...,n,n,1.0,1.461710e+08,4.328000e+12,29485.000000,10.000000,0.130000,37.370000,55.45
3,600003,1.0,0.0,0.0,F,N,Red,Polygon,Axolotl,Costa Rica,...,n,n,1.0,5.094118e+06,9.579100e+10,18651.000000,1.000000,1.050000,84.500000,9.56
4,600004,0.0,0.0,1.0,F,Y,Red,Circle,NaN,Finland,...,n,n,7.0,5.536146e+06,2.570000e+11,49334.000000,2.000000,9.710000,24.560000,60.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399995,999995,0.0,0.0,1.0,T,N,Red,Trapezoid,Axolotl,Costa Rica,...,n,n,1.0,5.094118e+06,9.579100e+10,18651.000000,1.000000,1.050000,84.500000,9.56
399996,999996,0.0,0.0,0.0,F,N,Red,Polygon,Dog,Russia,...,y,y,40.0,1.461710e+08,4.328000e+12,29485.000000,10.000000,0.130000,37.370000,55.45
399997,999997,0.0,0.0,1.0,T,N,Red,Triangle,Hamster,NaN,...,y,y,0.1,2.355912e+11,7.254465e+12,29241.166667,3.416667,5.841667,69.196667,39.71
399998,999998,0.0,0.0,0.0,F,Y,Red,Circle,Dog,Costa Rica,...,y,y,40.0,5.094118e+06,9.579100e+10,18651.000000,1.000000,1.050000,84.500000,9.56
399999,999999,0.0,0.0,1.0,F,N,Blue,Circle,Lion,Finland,...,n,y,200.0,5.536146e+06,2.570000e+11,49334.000000,2.000000,9.710000,24.560000,60.10

In [16]:
hf = pd.read_csv('input/heat.csv', sep='\t')
heat_missing = hf.mean().to_dict()
hf = hf.set_index('heat')
hf_columns = hf.columns
hf = hf.to_dict('index')
hf,heat_missing

({'Freezing': {'rank': 1},
  'Cold': {'rank': 2},
  'Warm': {'rank': 3},
  'Hot': {'rank': 4},
  'Boiling Hot': {'rank': 5},
  'Lava Hot': {'rank': 6}},
 {'rank': 3.5})

In [17]:
hf = defaultdict(str, hf)
hf[np.nan] = heat_missing
hf

defaultdict(str,
            {'Freezing': {'rank': 1},
             'Cold': {'rank': 2},
             'Warm': {'rank': 3},
             'Hot': {'rank': 4},
             'Boiling Hot': {'rank': 5},
             'Lava Hot': {'rank': 6},
             nan: {'rank': 3.5}})

In [18]:
df[['heat_'+hfc for hfc in hf_columns]]=df.apply(lambda x: pd.Series(hf[x['ord_2']]), axis=1)[hf_columns]

In [19]:
df

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,animal_fure,animal_mass,country_population,country_gdp,country_gdp per capita,country_timzone,country_water,country_w,country_n,heat_rank
0,600000,0.0,0.0,0.0,F,Y,Blue,Polygon,Axolotl,Finland,...,n,1.0,5.536146e+06,2.570000e+11,49334.000000,2.000000,9.710000,24.560000,60.10,5.0
1,600001,0.0,0.0,0.0,F,Y,Red,Circle,Lion,Russia,...,y,200.0,1.461710e+08,4.328000e+12,29485.000000,10.000000,0.130000,37.370000,55.45,2.0
2,600002,0.0,0.0,0.0,F,Y,Blue,Circle,Axolotl,Russia,...,n,1.0,1.461710e+08,4.328000e+12,29485.000000,10.000000,0.130000,37.370000,55.45,3.0
3,600003,1.0,0.0,0.0,F,N,Red,Polygon,Axolotl,Costa Rica,...,n,1.0,5.094118e+06,9.579100e+10,18651.000000,1.000000,1.050000,84.500000,9.56,4.0
4,600004,0.0,0.0,1.0,F,Y,Red,Circle,NaN,Finland,...,n,7.0,5.536146e+06,2.570000e+11,49334.000000,2.000000,9.710000,24.560000,60.10,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399995,999995,0.0,0.0,1.0,T,N,Red,Trapezoid,Axolotl,Costa Rica,...,n,1.0,5.094118e+06,9.579100e+10,18651.000000,1.000000,1.050000,84.500000,9.56,3.0
399996,999996,0.0,0.0,0.0,F,N,Red,Polygon,Dog,Russia,...,y,40.0,1.461710e+08,4.328000e+12,29485.000000,10.000000,0.130000,37.370000,55.45,3.5
399997,999997,0.0,0.0,1.0,T,N,Red,Triangle,Hamster,NaN,...,y,0.1,2.355912e+11,7.254465e+12,29241.166667,3.416667,5.841667,69.196667,39.71,5.0
399998,999998,0.0,0.0,0.0,F,Y,Red,Circle,Dog,Costa Rica,...,y,40.0,5.094118e+06,9.579100e+10,18651.000000,1.000000,1.050000,84.500000,9.56,6.0
399999,999999,0.0,0.0,1.0,F,N,Blue,Circle,Lion,Finland,...,y,200.0,5.536146e+06,2.570000e+11,49334.000000,2.000000,9.710000,24.560000,60.10,1.0

In [20]:
inf = pd.read_csv('input/instruments.csv', sep='\t')
inst_missing = inf.mean().to_dict()
inst_missing = {'mass':2,'strings': 'n',
   'electric': 'n',
   'blow': 'y',
   'keys': 'n'}
inf = inf.set_index('instrument')
inf_columns = inf.columns
inf = inf.to_dict('index')
inf,inst_missing

({'Piano': {'mass': 200,
   'strings': 'y',
   'electric': 'n',
   'blow': 'n',
   'keys': 'y'},
  'Oboe': {'mass': 3,
   'strings': 'n',
   'electric': 'n',
   'blow': 'y',
   'keys': 'n'},
  'Bassoon': {'mass': 10,
   'strings': 'n',
   'electric': 'n',
   'blow': 'y',
   'keys': 'n'},
  'Theremin': {'mass': 2,
   'strings': 'n',
   'electric': 'y',
   'blow': 'n',
   'keys': 'y'}},
 {'mass': 2, 'strings': 'n', 'electric': 'n', 'blow': 'y', 'keys': 'n'})

In [21]:
inf = defaultdict(str, inf)
inf[np.nan] = inst_missing
inf

defaultdict(str,
            {'Piano': {'mass': 200,
              'strings': 'y',
              'electric': 'n',
              'blow': 'n',
              'keys': 'y'},
             'Oboe': {'mass': 3,
              'strings': 'n',
              'electric': 'n',
              'blow': 'y',
              'keys': 'n'},
             'Bassoon': {'mass': 10,
              'strings': 'n',
              'electric': 'n',
              'blow': 'y',
              'keys': 'n'},
             'Theremin': {'mass': 2,
              'strings': 'n',
              'electric': 'y',
              'blow': 'n',
              'keys': 'y'},
             nan: {'mass': 2,
              'strings': 'n',
              'electric': 'n',
              'blow': 'y',
              'keys': 'n'}})

In [22]:
df[['inst_'+inc for inc in inf_columns]]=df.apply(lambda x: pd.Series(inf[x['nom_4']]), axis=1)[inf_columns]

In [23]:
df

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,country_timzone,country_water,country_w,country_n,heat_rank,inst_mass,inst_strings,inst_electric,inst_blow,inst_keys
0,600000,0.0,0.0,0.0,F,Y,Blue,Polygon,Axolotl,Finland,...,2.000000,9.710000,24.560000,60.10,5.0,200,y,n,n,y
1,600001,0.0,0.0,0.0,F,Y,Red,Circle,Lion,Russia,...,10.000000,0.130000,37.370000,55.45,2.0,10,n,n,y,n
2,600002,0.0,0.0,0.0,F,Y,Blue,Circle,Axolotl,Russia,...,10.000000,0.130000,37.370000,55.45,3.0,2,n,y,n,y
3,600003,1.0,0.0,0.0,F,N,Red,Polygon,Axolotl,Costa Rica,...,1.000000,1.050000,84.500000,9.56,4.0,10,n,n,y,n
4,600004,0.0,0.0,1.0,F,Y,Red,Circle,NaN,Finland,...,2.000000,9.710000,24.560000,60.10,6.0,2,n,y,n,y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399995,999995,0.0,0.0,1.0,T,N,Red,Trapezoid,Axolotl,Costa Rica,...,1.000000,1.050000,84.500000,9.56,3.0,2,n,y,n,y
399996,999996,0.0,0.0,0.0,F,N,Red,Polygon,Dog,Russia,...,10.000000,0.130000,37.370000,55.45,3.5,2,n,y,n,y
399997,999997,0.0,0.0,1.0,T,N,Red,Triangle,Hamster,NaN,...,3.416667,5.841667,69.196667,39.71,5.0,2,n,y,n,y
399998,999998,0.0,0.0,0.0,F,Y,Red,Circle,Dog,Costa Rica,...,1.000000,1.050000,84.500000,9.56,6.0,2,n,y,n,y
399999,999999,0.0,0.0,1.0,F,N,Blue,Circle,Lion,Finland,...,2.000000,9.710000,24.560000,60.10,1.0,10,n,n,y,n

In [24]:
rf = pd.read_csv('input/rank.csv', sep='\t')
rank_missing = rf.mean().to_dict()
rf = rf.set_index('title')
rf_columns = rf.columns
rf = rf.to_dict('index')
rf,rank_missing

({'Grandmaster': {'rank': 5},
  'Expert': {'rank': 4},
  'Master': {'rank': 3},
  'Contributor': {'rank': 2},
  'Novice': {'rank': 1}},
 {'rank': 3.0})

In [25]:
rf = defaultdict(str, rf)
rf[np.nan] = rank_missing
rf

defaultdict(str,
            {'Grandmaster': {'rank': 5},
             'Expert': {'rank': 4},
             'Master': {'rank': 3},
             'Contributor': {'rank': 2},
             'Novice': {'rank': 1},
             nan: {'rank': 3.0}})

In [26]:
df[['rank_'+rfc for rfc in rf_columns]]=df.apply(lambda x: pd.Series(rf[x['ord_1']]), axis=1)[rf_columns]

In [27]:
df

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,country_water,country_w,country_n,heat_rank,inst_mass,inst_strings,inst_electric,inst_blow,inst_keys,rank_rank
0,600000,0.0,0.0,0.0,F,Y,Blue,Polygon,Axolotl,Finland,...,9.710000,24.560000,60.10,5.0,200,y,n,n,y,1.0
1,600001,0.0,0.0,0.0,F,Y,Red,Circle,Lion,Russia,...,0.130000,37.370000,55.45,2.0,10,n,n,y,n,1.0
2,600002,0.0,0.0,0.0,F,Y,Blue,Circle,Axolotl,Russia,...,0.130000,37.370000,55.45,3.0,2,n,y,n,y,4.0
3,600003,1.0,0.0,0.0,F,N,Red,Polygon,Axolotl,Costa Rica,...,1.050000,84.500000,9.56,4.0,10,n,n,y,n,4.0
4,600004,0.0,0.0,1.0,F,Y,Red,Circle,NaN,Finland,...,9.710000,24.560000,60.10,6.0,2,n,y,n,y,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399995,999995,0.0,0.0,1.0,T,N,Red,Trapezoid,Axolotl,Costa Rica,...,1.050000,84.500000,9.56,3.0,2,n,y,n,y,4.0
399996,999996,0.0,0.0,0.0,F,N,Red,Polygon,Dog,Russia,...,0.130000,37.370000,55.45,3.5,2,n,y,n,y,2.0
399997,999997,0.0,0.0,1.0,T,N,Red,Triangle,Hamster,NaN,...,5.841667,69.196667,39.71,5.0,2,n,y,n,y,5.0
399998,999998,0.0,0.0,0.0,F,Y,Red,Circle,Dog,Costa Rica,...,1.050000,84.500000,9.56,6.0,2,n,y,n,y,1.0
399999,999999,0.0,0.0,1.0,F,N,Blue,Circle,Lion,Finland,...,9.710000,24.560000,60.10,1.0,10,n,n,y,n,2.0

In [29]:
FILE

'test'

In [32]:
df.to_csv(f'./input/{FILE}_expanded.csv', sep='\t', index=False)

In [31]:
df.columns

Index(['id', 'bin_0', 'bin_1', 'bin_2', 'bin_3', 'bin_4', 'nom_0', 'nom_1',
       'nom_2', 'nom_3', 'nom_4', 'nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9',
       'ord_0', 'ord_1', 'ord_2', 'ord_3', 'ord_4', 'ord_5', 'day', 'month',
       'animal_water', 'animal_home', 'animal_fure', 'animal_mass',
       'country_population', 'country_gdp', 'country_gdp per capita',
       'country_timzone', 'country_water', 'country_w', 'country_n',
       'heat_rank', 'inst_mass', 'inst_strings', 'inst_electric', 'inst_blow',
       'inst_keys', 'rank_rank'],
      dtype='object')

In [48]:
df = pd.read_csv('./input/train_expanded.csv')
df.columns = [cl.replace(' ','_') for cl in df.columns]

In [49]:
df.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,country_water,country_w,country_n,heat_rank,inst_mass,inst_strings,inst_electric,inst_blow,inst_keys,rank_rank
0,0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,...,0.130000,37.370000,55.45,4.0,10,n,n,y,n,2.0
1,1,1.0,1.0,0.0,F,Y,Red,Star,Axolotl,NaN,...,5.841667,69.196667,39.71,3.0,2,n,y,n,y,5.0
2,2,0.0,1.0,0.0,F,N,Red,NaN,Hamster,Canada,...,11.760000,75.400000,45.24,1.0,10,n,n,y,n,3.0
3,3,NaN,0.0,0.0,F,N,Red,Circle,Hamster,Finland,...,9.710000,24.560000,60.10,6.0,2,n,y,n,y,1.0
4,4,0.0,NaN,0.0,T,N,Red,Triangle,Hamster,Costa Rica,...,1.050000,84.500000,9.56,2.0,2,n,n,y,n,5.0

In [50]:
df.to_csv('./input/train_expanded.csv', index=False)

In [41]:
df.columns

Index(['id', 'bin_0', 'bin_1', 'bin_2', 'bin_3', 'bin_4', 'nom_0', 'nom_1',
       'nom_2', 'nom_3', 'nom_4', 'nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9',
       'ord_0', 'ord_1', 'ord_2', 'ord_3', 'ord_4', 'ord_5', 'day', 'month',
       'animal_water', 'animal_home', 'animal_fure', 'animal_mass',
       'country_population', 'country_gdp', 'country_gdp per capita',
       'country_timzone', 'country_water', 'country_w', 'country_n',
       'heat_rank', 'inst_mass', 'inst_strings', 'inst_electric', 'inst_blow',
       'inst_keys', 'rank_rank'],
      dtype='object')

In [44]:
df.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,country_water,country_w,country_n,heat_rank,inst_mass,inst_strings,inst_electric,inst_blow,inst_keys,rank_rank
0,600000,0.0,0.0,0.0,F,Y,Blue,Polygon,Axolotl,Finland,...,9.71,24.56,60.10,5.0,200,y,n,n,y,1.0
1,600001,0.0,0.0,0.0,F,Y,Red,Circle,Lion,Russia,...,0.13,37.37,55.45,2.0,10,n,n,y,n,1.0
2,600002,0.0,0.0,0.0,F,Y,Blue,Circle,Axolotl,Russia,...,0.13,37.37,55.45,3.0,2,n,y,n,y,4.0
3,600003,1.0,0.0,0.0,F,N,Red,Polygon,Axolotl,Costa Rica,...,1.05,84.50,9.56,4.0,10,n,n,y,n,4.0
4,600004,0.0,0.0,1.0,F,Y,Red,Circle,NaN,Finland,...,9.71,24.56,60.10,6.0,2,n,y,n,y,2.0